<div ng-app="app" ng-controller="ProfileWriteRatingCtrl">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Rating</h2>
        </div>
    </md-toolbar>
            <div star-rating2 rating="starRating1" read-only="false" max-rating="5" click="click1(param)" mouse-hover="mouseHover1(param)" mouse-leave="mouseLeave1(param)"></div>
            <div> <span  class="md-subhead">Star Rating: {{starRating1}}</span>
            </div>
    <md-input-container class="md-block">

        <label>Description</label>
        <input  required md-no-asterisk name="describtion" ng-model="rating.description">

    </md-input-container>
    <md-button ng-click="saveRating()">
        <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
       Rate
    </md-button>

    <md-button ng-click="cancel()">
        <md-icon md-svg-icon="navigation:ic_cancel_24px"></md-icon>
        Cancel
    </md-button>

</div>



