
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<md-toolbar class="md-primary" mv-toolbar style="border-style:none"></md-toolbar>

<div flex>

    <md-content flex="" layout-padding="">


        <p ng-if="!loggedIn" layout="row" layout-align="center center">
            Travel, help and connect.
            <br>
            Be a Social Explorer and make lives better.
            <md-button>{{"Learn more..."}}</md-button>
        </p>

        <md-content role="main" class="mv-content" layout-padding ui-view="content"></md-content>

    </md-content>

</div>

<!--stuff that belongs outside of the md-content container like fab buttons-->
<div ui-view="outside"></div>




