
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<img src="logo_updated.png" width="266" height="132"/>
<img ng-src="{{image}}"/>


<!--<md-input-container md-no-float class="md-accent" style="margin-left: 1000px" height="20" >-->
    <!--<md-icon style="color:white" class="material-icons">&#xE8B6;</md-icon>-->
    <!--<input ng-model="searchInput" placeholder="Search here" style="color:wheat">-->
<!--</md-input-container>-->


<md-toolbar class="md-primary" mv-toolbar style="border-style:solid">


</md-toolbar>

<md-content layout-padding>
    Travel, help and connect. Be a Social Explorer and make lives better.
    <md-button>{{"Learn more..."}}</md-button>
</md-content>

<md-content role="main" class="mv-content" layout-padding ui-view="content"></md-content>

<!--stuff that belongs outside of the md-content container like fab buttons-->
<div ui-view="outside"></div>




