
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

<md-toolbar class="md-primary" mv-toolbar></md-toolbar>

<md-content class="mainc" flex layout-fill role="main" class="mv-content" ui-view="content"></md-content>

<!--stuff that belongs outside of the md-content container like fab buttons-->
<!--<div ui-view="outside"></div>-->
<p style="font-size:.8em; width: 100%; text-align: center;">
    © Social Explorer, 2016. Alexander Hufnagel, Amila Silva, Mathias Staudigl, Semra Gülce Turan.
</p>
