<div layout="column" layout-align="center center">
    <!--<md-card mv-project-card class="mv-card" project="project" ng-repeat="project in projects"></md-card>-->

    <p></p>

    <ul rn-carousel flex rn-carousel-controls rn-carousel-index="carouselIndex" rn-carousel-auto-slide="" class="carousel1" >

        <li ng-repeat="project in projects" ui-sref="projects.detail({projectId: project._id })">

            <div ng-style="{'background-image': 'url(data:image/png;base64,{{project.img}})'}" class="bgimage">
                <div class="carousel-caption">
                    <h1>{{ project.title }}</h1>
                </div>
            </div>

        </li>

    </ul>

    <p></p>

    <h1 layout="row" layout-align="center center" class="md-toolbar-tools" flex >Travel, help and connect.
        Be a Social Explorer and make lives better.
    </h1>

    <p></p>


    <div layout="row" layout-align="space-around stretch">

        <div>
            <md-card style="background-color: rgba(255, 255, 255, 0.5)" layout-align="center center" layout-padding flex="33">

            <md-toolbar class="md-warn md-hue-3">
                <div class="md-toolbar-tools" layout-align="center center">
                    <h2 class="md-flex">Our mission</h2>
                </div>
            </md-toolbar>
            </md-card>

            <md-card style="background-color: rgba(255, 255, 255, 0.5)">
                <md-card-content>
                    <p>Our mission is to make the world a better place. Starting from peoples' lives.</p>
            </md-card>

            <md-card style="background-color: rgba(255, 255, 255, 0.5)">
                <md-card-content>
                    <p>We envision a world that is more connected - more than just digitally. We try to redefine what <i>social</i> means with our services. </p>                </md-card-content>
            </md-card>
        </div>

        <div>
            <md-card style="background-color: rgba(255, 255, 255, 0.5)" layout-align="center center" layout-padding flex="33">

            <md-toolbar class="md-warn md-hue-2">
                <div class="md-toolbar-tools" layout-align="center center">
                    <h2 class="md-flex">What do we offer?</h2>
                </div>
            </md-toolbar>
            </md-card>

            <md-card style="background-color: rgba(255, 255, 255, 0.5)">
                <md-card-content>
                    <p>We offer you the possibility to get to know about our world and people that live in it - and, to make a change.</p>
                </md-card-content>
            </md-card>

            <md-card style="background-color: rgba(255, 255, 255, 0.5)">
                <md-card-content>
                    <p>Register as a Social Explorer, take part in projects with a social mission and, create projects that touch peoples' lives.</p>
                </md-card-content>
            </md-card>

        </div>

        <div>
            <md-card style="background-color: rgba(255, 255, 255, 0.5)" layout-align="center center" layout-padding flex="33">

            <md-toolbar class="md-warn md-hue-1">
                <div class="md-toolbar-tools" layout-align="center center">
                    <h2 class="md-flex">Support us!</h2>
                </div>
            </md-toolbar>
            </md-card>

                <md-card style="background-color: rgba(255, 255, 255, 0.5)">
                    <md-card-content>
                        <p>We do not charge <i>Social Explorers</i> for our services. Please consider making a small donation so that we can keep our service the way it is.</p>
                    </md-card-content>

                    <div layout="row" layout-align="space-around stretch">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" layout-align="center center">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="EWRKQD6E8EBM6">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        </form>
                    </div>
                    <p></p>
                </md-card>


        </div>

        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your like button code -->
        <div class="fb-like"
             data-href="http://www.your-domain.com/your-page.html"
             data-layout="standard"
             data-action="like"
             data-show-faces="true">
        </div>

    </div>
        </p>


        <!--<md-card-actions layout="row" layout-align="center center" ng-click="donate($event)" style="background: #BB6622">-->
            <!--<md-button>Donate</md-button>-->
        <!--</md-card-actions>-->


        <p></p>

</div>


