<div layout="column" layout-align="center center">
    <!--<md-card mv-project-card class="mv-card" project="project" ng-repeat="project in projects"></md-card>-->
    <p ng-if="!loggedIn" flex>
        Travel, help and connect.
        <br>
        Be a Social Explorer and make lives better.
        <md-button>{{"Learn more..."}}</md-button>
    </p>

    <ul rn-carousel flex rn-carousel-controls rn-carousel-index="carouselIndex" rn-carousel-auto-slide="" class="carousel1" >

        <li ng-repeat="project in projects" ui-sref="projects.detail({projectId: project._id })">

            <div ng-style="{'background-image': 'url(data:image/png;base64,{{project.img}})'}" class="bgimage">
                <div class="carousel-caption">
                    <h2>{{ project.title }}</h2>
                </div>
            </div>

        </li>

    </ul>
</div>

