<md-toolbar layout="row" layout-align="center center" class="md-tall" style="background-color: white;">

    <img src="logo_updated.png" ng-click="goToHome()" width="240" height="120"/>
    <img ng-src="{{image}}"/>

</md-toolbar>

<md-toolbar ng-if="!loggedIn" layout="row" layout-align="space-between center">

    <!-- not logged in -->
    <!--The left side-->
    <span> <h2 ng-if="!loggedIn" class="md-toolbar-tools"> See what Social Explorers accomplished! </h2></span>

    <span flex></span>

    <!--The right side-->
    <span>
        <md-button ng-if="!loggedIn" ng-click="showLoginDialog()" aria-label="Log in"> Log in </md-button>
        <md-button ng-if="!loggedIn" ng-click="showSignupDialog()" aria-label="Sign up"> Sign up </md-button>
    </span>

</md-toolbar>

<md-toolbar ng-if="loggedIn" layout="row" layout-align="space-between center">

<!-- logged in -->
<!--The left side-->

    <span> <md-button ng-if="loggedIn && !user.host" ng-click="goToSearch()" aria-label="Search for a project!"> Search for a project! </md-button></span>

<span flex></span>

<!--The right side-->
<span>
    <md-button ng-if="loggedIn" ng-click="goToProfile()" aria-label="My profile"> My profile </md-button>
    <md-button ng-if="loggedIn" ng-click="logout()" aria-label="Log out"> Log out </md-button>
    </span>

</md-toolbar>

