<div class="md-toolbar-tools">
    <div ncy-breadcrumb class="ui-breadcrumbs md-title">
    </div>
    <span flex></span>

    <!-- not logged in -->
    <span class="md-body-2" hide-xs ng-if="!loggedIn">You are currently not logged in.</span>

    <md-button ng-if="!loggedIn" ng-click="showLoginDialog()">
        Log in
    </md-button>
    <md-button ng-if="!loggedIn" ng-click="showSignupDialog()">
        Sign Up
    </md-button>


    <!-- logged in -->
    <span class="md-body-2" ng-if="loggedIn">Hello, {{user.username}}</span>

    <md-button ng-if="loggedIn" ng-click="logout()">
        Log out
    </md-button>


</div>