<div layout="column" ng-cloak>

    <md-list>

        <md-toolbar class="md-hue-1" >
            <h1  layout-align="center center" class="md-toolbar-tools">Projects created by you </h1>
        </md-toolbar>

        <img id="mySpinner" src="ripple.gif" ng-show="loading" />

        <md-list-item class="md-3-line" ng-repeat="project in projects | filter: userFilter"
                      ng-click="goToProject(project)" >

            <img data-ng-src="data:image/png;base64,{{project.img}}" class="md-avatar" />

            <div style="width:700px" class="md-list-item-text" layout="column" >
                <h3>{{ project.title }}</h3>
                <h4>{{ project.objective }}</h4>
            </div>

            <md-button class="md-secondary" ng-click="confirmAndDelete($event, project)">
                <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
            </md-button>

            <md-button class="md-secondary" ui-sref="profile.editproj({projectId: project._id })" style="margin-right:60px" >
                <md-icon md-svg-icon="editor:ic_mode_edit_24px"></md-icon>
            </md-button>

            <md-button class="md-secondary" ng-click="goToManageProject(project)" style="margin-right:180px" >
                Applications
            </md-button>

            <md-divider ></md-divider>
        </md-list-item>

        <md-button ng-click="goToCreateProject()">
            <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
            Create a new project
        </md-button>

</div>

