<md-content layout-padding>
    <form name="projectForm">
        <h3>Create new project</h3>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="action:ic_card_travel_24px"></md-icon>
            <label>Project Name</label>
            <input required name="projectName" ng-model="project.title">
            <div ng-messages="projectForm.projectName.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <md-icon md-svg-icon="action:ic_assignment_turned_in_24px"></md-icon>
            <label>Objective</label>
            <input md-maxlength="50" required md-no-asterisk name="objective" ng-model="project.objective">
            <div ng-messages="projectForm.objective.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>

        <div layout="row">
            <md-input-container class="md-block">
                <md-icon md-svg-icon="maps:ic_my_location_24px"></md-icon>
                <label>Country</label>
                <input md-maxlength="10" required md-no-asterisk name="objective" ng-model="project.country">
                <div ng-messages="projectForm.country.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <md-icon md-svg-icon="social:ic_location_city_24px"></md-icon>
                <label>City</label>
                <input md-maxlength="50" required md-no-asterisk name="objective" ng-model="project.city">
                <div ng-messages="projectForm.city.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row">

        <md-datepicker ng-model="project.fromDate" md-placeholder="From"></md-datepicker>

        <md-datepicker ng-model="project.toDate" md-placeholder="To"></md-datepicker>
        </div>

        <md-input-container class="md-block">
            <md-icon md-svg-icon="action:ic_assignment_24px"></md-icon>
            <label>Description</label>
            <textarea md-maxlength="500" rows="5" required md-no-asterisk name="description" ng-model="project.description"></textarea>
            <div ng-messages="projectForm.description.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" style="margin-bottom:30px">
            <md-icon md-svg-icon="image:ic_add_a_photo_24px"></md-icon>
            <label>Upload an Image</label>
        </md-input-container>

        <md-input-container class="md-block">
        <input type="file" ng-model="project.image" name="image" accept="image/*" maxsize="500" required base-sixty-four-input>
        <span ng-show="form.files.$error.maxsize">Files must not exceed 500 KB</span>
        </md-input-container>

        <md-button ng-click="saveProject()">
            <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
            Create Project
        </md-button>
        <md-button ng-click="cancel()">
            <md-icon md-svg-icon="navigation:ic_cancel_24px"></md-icon>
            Cancel
        </md-button>

        <!--<p style="font-size:.8em; width: 100%; text-align: center;">-->
            <!--Make sure to include <a href="https://docs.angularjs.org/api/ngMessages" target="_blank">ngMessages</a> module when using ng-message markup.-->
        <!--</p>-->
    </form>
</md-content>