<div ng-controller="ProfileManageProjectCtrl">



        <div layout="row" layout-align="center center">

            <md-card layout="row" layout-align="center center">
                <md-card-title-media >
                    <div class="md-avatar" ><img data-ng-src="data:image/png;base64,{{applicant.img}}" style='max-height: 100%; max-width: 200px' /></div>
                </md-card-title-media>
                <md-card-title>

                    <md-card-title-text>

                        <div class="md-headline">Name: {{applicant.username}}</div> <!--Now it´s always the logged in username-->
                        <div class="md-subhead">E-Mail: {{applicant.email}}</div>
                        <div class="md-subhead">Rating: </div>
                        <div class="md-subhead">Age: {{applicant.age}}</div>
                        <div class="md-subhead">Country: {{applicant.country}}</div>
                        <div class="md-subhead">City: {{applicant.city}}</div>

                    </md-card-title-text>


                </md-card-title>

                </md-card>
            <div layout="row"></div>



        </div>

    <md-card >
    <div class="md-subhead">Why do I want to participate: {{statement}} </div>
        </md-card>


    <div layout="row" layout-align="end center">
        <md-button ng-click="answer('ACCEPTED')">Accept</md-button>

        <md-button ng-click="answer('REJECTED')">Reject</md-button>

        <md-button ng-click="cancel()">Close</md-button>

</div>






