
<div layout="column">

    <h1 layout-align="center center" class="md-toolbar-tools" flex
        style="background-color: rgba(255,200,128,0.6)">Find the perfect project for you. </h1>

    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4"
        style="background-color: rgba(255,255,255,0.9)">
            <md-content layout-padding="5">
                <div layout=>
                    <h4 style="margin-top:10px">Search by keywords: &nbsp</h4>
                <input flex="" ng-model="$ctrl.query">
                </div>
            </md-content>
            <md-content layout-padding="5">
                <div layout=>
                    <h4 style="margin-top:10px">Search by host: &nbsp</h4>
                    <input flex="" ng-model="selectedHost">
                </div>
            </md-content>
            <md-content layout-padding="5">
                <div layout=>
                    <h4 style="margin-top:10px">Search by date: &nbsp</h4>
                <md-datepicker ng-model="selectedFromDate" md-placeholder="From"></md-datepicker>
                <md-datepicker ng-model="selectedToDate" md-placeholder="To"></md-datepicker>
                </div>
            </md-content>
            <md-content layout-padding="5">
                <div layout=>
                    <h4 style="margin-top:10px">Search by country: &nbsp</h4>
                    <md-select flex  ng-model="selectedCountry">
                        <md-option ng-repeat="country in countries" value="{{country}}">{{country}}</md-option>
                    </md-select>                </div>
            </md-content>
            <md-button ng-click="searchProject()">
                <md-icon></md-icon>
                Search for a project
            </md-button>
        </md-sidenav>

        <md-list flex="" style="background-color: rgba(255,255,255,0.85)">
            <md-list-item class="md-3-line animate-repeat" ng-repeat="project in projects | filter:$ctrl.query"
                          ng-click="goToProject(project)">

                <img data-ng-src="data:image/png;base64,{{project.img}}" class="md-avatar"/>

                <div style="width:700px" class="md-list-item-text" layout="column">
                    <h3>{{ project.title }}</h3>
                    <h4>{{ project.description }}</h4>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>

    </section>

</div>