<div layout="column" style="height:650px;" ng-cloak>

    <md-list>

    <md-toolbar class="md-hue-1" >
        <h1  layout-align="center center" class="md-toolbar-tools">Edit your profile</h1>
    </md-toolbar>

    <img id="mySpinner" src="ripple.gif" ng-show="loading" />

    <md-content layout-padding="5">
    <md-input-container class="md-block">
        <md-icon md-svg-icon="action:ic_face_24px"></md-icon>

        <!--<md-icon md-svg-icon="action:ic_card_travel_24px"></md-icon>-->
        <label>Username</label>
        <input required name="userName" ng-model="user.username" ng-init="user.username">
    </md-input-container>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
            <!--<md-icon md-svg-icon="action:ic_card_travel_24px"></md-icon>-->
            <label>Email</label>
            <input required name="userName" ng-model="user.email" ng-init="user.email">
        </md-input-container>

        <md-input-container class="md-block">
            <md-icon md-svg-icon="social:ic_cake_24px"></md-icon>
            <label>Birthday</label>
            <input type="date" ng-model="user.age" >
        </md-input-container>
        <div layout="row">
        <md-input-container class="md-block">
            <md-icon md-svg-icon="maps:ic_my_location_24px"></md-icon>
            <!--<md-icon md-svg-icon="action:ic_card_travel_24px"></md-icon>-->
            <label>Country</label>
            <md-select ng-model="user.country">
                <md-option ng-repeat="country in countries" value="{{country}}">{{country}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <md-icon md-svg-icon="social:ic_location_city_24px"></md-icon>
            <!--<md-icon md-svg-icon="action:ic_card_travel_24px"></md-icon>-->
            <label>City</label>
            <input  ng-model="user.city" >
        </md-input-container>
            </div>

        <md-input-container class="md-block">
            <md-icon md-svg-icon="action:ic_description_24px"></md-icon>

            <!--<md-icon md-svg-icon="action:ic_card_travel_24px"></md-icon>-->
            <label>About me</label>
            <input  ng-model="user.description" >
        </md-input-container>

        <!-- <md-input-container class="md-block">

            <label>About Me</label>
            <input  ng-model="user.about_me" >
        </md-input-container> -->


        <md-input-container class="md-block" style="margin-bottom:30px">
            <label>Change profile image</label>
        </md-input-container>
        <md-input-container class="md-block">
            <input type="file" ng-model="user.image" name="image" accept="image/*" maxsize="500" required base-sixty-four-input>
            <span ng-show="form.files.$error.maxsize">Files must not exceed 500 KB</span>
        </md-input-container>


    </md-content>


    <md-button class=" md-raised" ng-click="updateUser()" >

        <md-icon md-svg-icon="editor:ic_mode_edit_24px"></md-icon>
        Update Profile Information
    </md-button>
        </md-list>
</div>
