<div layout="row" layout-padding>


    <div flex>

        <div class="md-display-2">{{project.title}}</div>
        <div class="md-avatar"><img data-ng-src="data:image/png;base64,{{project.img}}" /></div>



        <div layout="row" layout-align="center center"class="md-display-1 md-primary md-accent"><strong>Country:&nbsp; </strong> {{project.country}} </div>

        <div layout="row" layout-align="center center"class="md-display-1 md-primary md-accent"><strong>City:&nbsp; </strong> {{project.city}}</div>

        <div layout="row" layout-align="center center"class="md-display-1 md-primary md-accent"><strong>From&nbsp;</strong> {{project.fromDate}}&nbsp; <strong>to&nbsp;</strong> {{project.toDate}}</div>

        <div layout="row" layout-align="center center"class="md-display-1 md-primary md-accent"><strong>Description:&nbsp;</strong> {{project.description}}</div>

        <div layout="row" layout-align="center center"class="md-display-1 md-primary md-accent"><strong>Objective:&nbsp;</strong> {{project.objective}}</div>

        <!-- TODO, Rating-->
        <p layout="row" layout-align="center center"> Rating: {{project.mpaa_rating}} </p>


                <!--
                        <div mv-editable model="project.synopsis" on-save="updateProject(changed)" on-abort="cancelEditingProject()">
                            <h2 class="md-title">
                                Storyline
                                <md-icon ng-if="$parent.mayEdit" ng-hide="editing" md-svg-icon="editor:ic_mode_edit_24px" ng-click="startEditing()"></md-icon>
                            </h2>
                            <p class='md-body-1' ng-hide="editing">
                                {{value}}
                            </p>

                            <div layout="row" layout-align="space-between center" ng-show="editing">
                                <md-button ng-click="save()">
                                    <!--<md-icon md-svg-icon="content:ic_save_24px"></md-icon>-->
        <!--           Save
            </md-button>
             <md-button ng-click="cancel()">
                 <!--<md-icon md-svg-icon="navigation:ic_cancel_24px"></md-icon>-->
        <!--           Cancel
           </md-button>

                 </div>
                 <md-input-container class="md-block" ng-show="editing">
                     <label>Synopsis</label>
                     <textarea ng-model="value" md-maxlength="1500" rows="5" md-no-autogrow md-detect-hidden ></textarea>
                 </md-input-container>



             </div>

             <!-- TODO, function applyForProject (here application is only possible when it is not the own project) -->


        <p layout="row" layout-align="center center">
            <md-button layout="column" layout-align="space-around center" class=" md-raised" ng-click="applyForProject($event)" ng-if="canApply">
                <md-icon md-svg-icon="action:ic_face_24px"></md-icon>
                Ask to participate!
            </md-button>        </p>
        <!-- IF own project, then one can edit it-->
             <md-button class=" md-raised" ui-sref="profile.editproj({projectId: project._id })"  ng-if="!canApply">

             <md-icon md-svg-icon="editor:ic_mode_edit_24px"></md-icon>
             Edit
         </md-button>
     </div>


 </div>


