<div ng-controller="ProfileRatingCtrl">


<div style="background-color: rgba(255, 255, 255, 0.5)">

    <script >
        window.alert("Hallo Welt!");
    </script>

    <div layout="row" layout-wrap>
    <div flex="47">


        <div class="md-avatar"><img data-ng-src="data:image/png;base64,{{project.img}}" width="100%" height="100%" layout-margin="100%"/></div>

        <md-card style="background-color: rgba(255, 255, 255, 0.5)">

        <div class="md-title"><strong>About the project:</strong></div>
        <div layout="row" class="md-subhead md-primary " layout-margin="100%"> {{project.description}}</div>
        <div class="md-title"><strong>The goal of the project:</strong></div>
        <div layout="row"   layout-margin="100%" class="md-subhead md-primary "> {{project.objective}}</div>


            </md-card>
    </div>

            <div flex="5">
                </div>



    <div flex="48">
        <div class="md-headline" layout-align="center center" ><strong>{{project.title}}</strong></div>

        <!--<div layout="row" layout-margin="10%"> Rating: {{project.mpaa_rating}}</div>-->
<br>

        <ct, flex-xs flex-gt-xs="100" layout="column" >
            <md-card style="background-color: rgba(255, 255, 255, 0.5)">
                <md-card-title>
                    <md-card-title-text>
                        <div layout="row">
                        <span >About the Host</span>
                        </div>
                        <span class="md-headline">{{projectUser.username}}</span>
                        <span ng-if="loggedIn" class="md-subhead">E-Mail: {{projectUser.email}}</span>
                    </md-card-title-text>
                    <md-card-title-media >
                        <div class="md-media-sm card-media"><img data-ng-src="data:image/png;base64,{{projectUser.img}}"/></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="begin center" ng-click="lookAtProfile($event)">
                    <md-button>Look at the Profile</md-button>
                </md-card-actions>
            </md-card>

        <div layout="row"></div>

            <md-card style="background-color: rgba(255, 255, 255, 0.5)">

        <div class="md-title" layout-margin="10%">Details about the Project</div>

        <div layout="row" layout-margin="10%">

            <div><strong>Country:&nbsp; </strong> {{project.country}} &nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div><strong>City:&nbsp;</strong> {{project.city}} </div>

        </div>
        <div layout="row" layout-margin="10%">
                <div><strong>Starting Date:&nbsp;</strong> {{project.fromDate | date:"MM/dd/yyyy"}}&nbsp;</div>
                <div><strong>Ending Date:&nbsp;</strong> {{project.toDate | date:"MM/dd/yyyy"}}&nbsp;</div>
        </div>

</md-card>
            <div layout="row" layout-align="center center">


                <md-button   class=" md-raised" ng-click="goToApplication($event)" ng-if="alreadyApply">
                    <md-icon md-svg-icon="action:ic_today_24px"></md-icon>
                    Go to your application
                </md-button>
                <div ng-if="!alreadyApply">
                <md-button   class=" md-raised" ng-click="applyForProject($event)" ng-if="canApply" >
                    <md-icon md-svg-icon="action:ic_face_24px"></md-icon>
                    Ask to participate!
                </md-button>      </div> </div>
            <!-- IF own project, then one can edit it-->

            <div layout="row" layout-align="center center">
            <md-button class=" md-raised" ui-sref="profile.editproj({projectId: project._id })"  ng-if="!canApply" layout-align="end center">

                <md-icon md-svg-icon="editor:ic_mode_edit_24px"></md-icon>
                Edit
            </md-button>
            </div>
    </div>

        </div>
    </div>
<!-- TODO, rating-->

             <!-- TODO, function applyForProject (here application is only possible when it is not the own project) -->



</div>



</div>


