<div ng-controller="ProfileOverviewCtrl">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Profile of {{user.username}}</h2>
        </div>
    </md-toolbar>

    <div layout="row" layout-align="center center">

        <md-card layout="row" layout-align="center center">
            <md-card-title-media >
                <div class="md-avatar" ><img data-ng-src="data:image/png;base64,{{user.img}}" style='max-height: 100%; max-width: 200px' /></div>
            </md-card-title-media>
            <md-card-title>

                <md-card-title-text>

                    <div class="md-headline">Name: {{user.username}}</div>
                    <div class="md-subhead">E-Mail: {{user.email}}</div>
                    <div ng-if="!isRated">
                    <div star-rating  read-only="true" max-rating="5" ng-click="null" ></div>
                    <div> <span class="label label-primary"> Rating: {{ratings[0].rateAvg}}</span>
                        <md-button ng-click="ratingDialogOwn($event)">See all ratings</md-button>
                    </div>
                        </div>
                    <div ng-if="isRated">
                        <p>No ratings</p>

                    </div>
                    <div class="md-subhead">Date of birth: {{user.age| date:"MM/dd/yyyy"}}</div>
                    <div class="md-subhead">Country: {{user.country}}</div>
                    <div class="md-subhead">City: {{user.city}}</div>


                </md-card-title-text>


            </md-card-title>

        </md-card>
        <div layout="row"></div>

    </div>

    <md-card >
        <div class="md-subhead">About me: {{user.description}} </div>
    </md-card>

    <md-card-actions layout="row" layout-align="end center" ng-click="cancel()">

        <md-button  class=" md-accent">Back</md-button>
    </md-card-actions>
    
</div>







