<div layout="row">
<div flex="" ng-cloak>

    <div flex="20">

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true"  md-whiteframe="4">

            <md-toolbar class="md-hue-1">
                <h1  layout-align="center center" class="md-toolbar-tools">Profile </h1>
            </md-toolbar>

            <md-content layout-padding="5">
                <p>Username: {{user.username}}</p>
                <p>Email: {{user.email}}</p>
                <p>Project applications: </p>
                <p>Host reviews: </p>
                <p>Project reviews: </p>
                <p>Review reminders: </p>
            </md-content>

        </md-sidenav>
    </div>
</div>

<div flex="60">

    <!--<div flex="">-->
        <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
            <md-tab label="My projects" ui-sref="profile.overview"></md-tab>
            <md-tab label="My Applications" ui-sref="profile.applications"></md-tab>
            <md-tab label="Settings" ui-sref="profile.settings"></md-tab>
        </md-tabs>
    <!--</div>-->
    <!--<div flex="">-->
        <md-content role="main"  ui-view="content"></md-content>
    <!--</div>-->
</div>
</div>