<div ng-controller="ProjectDetailCtrl">



        <div flex-xs flex-gt-xs="100" layout="column" >
            <md-card >
                <!--<md-toolbar>-->
                    <!--<div class="md-toolbar-tools">-->
                <!--<h2> About the Host</h2>-->
                <!--<span flex></span>-->
                <!--<md-button class="md-icon-button" ng-click="cancel()">-->
                    <!--<md-icon md-svg-src="logo_updated.png" aria-label="Close dialog"></md-icon>-->
                <!--</md-button>-->
                <!--</div>-->
                    <!--</md-toolbar>-->
                <!--<br>-->
                <md-card-title-media >
                    <div class="md-avatar" ><img data-ng-src="data:image/png;base64,{{projectUser.img}}" style='max-height: 100%; max-width: 200px' /></div>
                </md-card-title-media>
                <md-card-title>

                    <md-card-title-text>

                        <span class="md-headline">Name: {{projectUser.username}}</span> <!--Now it´s always the logged in username-->
                        <span class="md-subhead">E-Mail: {{projectUser.email}}</span>
                        <span class="md-subhead">Age: {{projectUser.age}}</span>
                        <span class="md-subhead">Country: {{projectUser.country}}</span>
                        <span class="md-subhead">City: {{projectUser.city}}</span>
                        <span class="md-subhead">Additional info: {{projectUser.description}}</span>
                    </md-card-title-text>

                </md-card-title>

                <md-card-actions layout="row" layout-align="end center" ng-click="close($event)">  <!--possible to close popup without own js file? -->

                    <md-button>Back</md-button>
                </md-card-actions>
            </md-card>

            <div layout="row"></div>



        </div>

    </div>






