<div ng-controller="ProfileOverviewCtrl">


    <div layout="row" layout-align="center center">

        <!--<md-toolbar>-->
        <!--<div class="md-toolbar-tools">-->
        <!--<h2> About the Host</h2>-->
        <!--<span flex></span>-->
        <!--<md-button class="md-icon-button" ng-click="cancel()">-->
        <!--<md-icon md-svg-src="logo_updated.png" aria-label="Close dialog"></md-icon>-->
        <!--</md-button>-->
        <!--</div>-->
        <!--</md-toolbar>-->
        <!--<br>-->
        <md-card layout="row" layout-align="center center">
            <md-card-title-media >
                <div class="md-avatar" ><img data-ng-src="data:image/png;base64,{{user.img}}" style='max-height: 100%; max-width: 200px' /></div>
            </md-card-title-media>
            <md-card-title>

                <md-card-title-text>

                    <div class="md-headline">Name: {{user.username}}</div> <!--Now it´s always the logged in username-->
                    <div class="md-subhead">E-Mail: {{user.email}}</div>
                    <div ng-include="'views/rating/rating-read.html'" layout-margin="1px"></div>
                    <div class="md-subhead">Age: {{user.age}}</div>
                    <div class="md-subhead">Country: {{user.country}}</div>
                    <div class="md-subhead">City: {{user.city}}</div>


                </md-card-title-text>


            </md-card-title>

        </md-card>
        <div layout="row"></div>



    </div>

    <md-card >
        <div class="md-subhead">About me: {{user.description}} </div>
    </md-card>

    <md-card-actions layout="row" layout-align="end center" ng-click="cancel()">

        <md-button  class=" md-accent">Back</md-button>
    </md-card-actions>


</div>






