<div ng-controller="ProfileOverviewCtrl">

<div layout="row" ng-cloak layout-align="start stretch" style="background-color: rgba(255, 200, 128, 0.5)">

    <div flex="25" style="background-color: rgba(255,200,128,0.7)" layout-padding>

        <md-sidenav md-is-locked-open="true" >

            <md-toolbar class="md-hue-1">
                <h1 layout-align="center center" class="md-toolbar-tools">Profile </h1>
            </md-toolbar>

            <div class="md-media-sm card-media"><img data-ng-src="data:image/png;base64,{{user.img}}" width="50%" height="50%" layout-margin="50%" /></div>

            <md-content layout-padding="0">


                <h3> {{user.username}} </h3>
                <p> {{user.email}}</p>
                <!--<p>Age: {{user.age}}</p>   not neccessary in preview window-->
                <p>Project applications: </p>
                <p>Host reviews: </p>
                <p>Project reviews: </p>
                <p>Review reminders: </p>

                <md-card-actions layout="row" layout-align="begin center" ng-click="lookAtUser($event)">
                    <md-button>Profile details</md-button>
                </md-card-actions>

            </md-content>

        </md-sidenav>
    </div>

    <div flex>

        <div layout="column" >
            <div flex="" style="background-color: rgba(255,200,128,0.7)">
                <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                    <md-tab label="My projects" ui-sref="profile.overview"></md-tab>
                    <md-tab label="My Applications" ui-sref="profile.applications"></md-tab>
                    <md-tab label="Edit profile" ui-sref="profile.settings"></md-tab>
                </md-tabs>
            </div>
            <div flex="">
                <md-content role="main" ui-view="content" style="background-color: rgba(255,255,255,0.9)"></md-content>
            </div>
        </div>
    </div>
</div>