<div ng-controller="ProjectDetailCtrl">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Profile of {{projectUser.username}}</h2>
        </div>
    </md-toolbar>


    <div layout="row" layout-align="center center">

            <md-card layout="row" layout-align="center center">
                <md-card-title-media >
                    <div class="md-avatar" ><img data-ng-src="data:image/png;base64,{{projectUser.img}}" style='max-height: 100%; max-width: 200px' /></div>
                </md-card-title-media>
                <md-card-title>

                    <md-card-title-text>

                        <div class="md-headline">Name: {{projectUser.username}}</div>
                        <div class="md-subhead">E-Mail: {{projectUser.email}}</div>
                        <div ng-include="'views/rating/rating-read.html'" layout-margin="1px"></div>
                        <div class="md-subhead">Date of birth: {{projectUser.age| date:"MM/dd/yyyy"}}</div>
                        <div class="md-subhead">Country: {{projectUser.country}}</div>
                        <div class="md-subhead">City: {{projectUser.city}}</div>


                    </md-card-title-text>


                </md-card-title>

                </md-card>
            <div layout="row"></div>



        </div>

    <md-card >
    <div class="md-subhead">About me: {{projectUser.description}} </div>
        </md-card>

    <md-card-actions layout="row" layout-align="end center" ng-click="cancel()">  

        <md-button  class=" md-accent">Back</md-button>
    </md-card-actions>


</div>






