    <div ng-controller="ProfileOverviewCtrl">


    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Ratings about you</h2>
        </div>
    </md-toolbar>


    <md-dialog-content layout-margin>

        <md-list-item class="md-3-line" ng-repeat="rating in ratings " ng-click="null" >

            <div style="width:700px" class="md-list-item-text" layout="column" >
                <h3><strong>Project:</strong> {{ rating.project.title }}</h3>
                <div star-rating2 rating="rating.rate" read-only="true" max-rating="5"  ></div>
            <h3>{{ rating.description }}</h3>
                <h3><strong>Rated from User:</strong> {{ rating.createdUser.username}}</h3>

          </div>
        </md-list-item>



    </md-dialog-content>
    <md-button ng-click="cancel()">Cancel</md-button>
</div>
