<div ng-controller="ProfileRatingCtrl">
    <div ng-controller="ProjectDetailCtrl">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Ratings of {{projectUser.username}}</h2>
        </div>
    </md-toolbar>


    <md-dialog-content layout-margin>

        <md-list-item class="md-3-line" ng-repeat="rating in ratings " ng-click="null" >

            <!--<img data-ng-src="data:image/png;base64,{{project.img}}" class="md-avatar" />-->

            <div style="width:700px" class="md-list-item-text" layout="column" >
                <h3>Project: {{ rating.project.title }}</h3>
                <div star-rating2 rating="rating.rate" read-only="true" max-rating="5"  ></div>
            <h3>{{ rating.description }}</h3>
                <h3>Rated from User: {{ rating.createdUser.username }}</h3>

          </div>
        </md-list-item>



    </md-dialog-content>
    <md-button ng-click="cancel()">Cancel</md-button>
</div>
    </div>