<div layout="column" ng-cloak>

    <md-list>

        <md-toolbar class="md-hue-1" >
            <h1  layout-align="center center" class="md-toolbar-tools">Your applications</h1>
        </md-toolbar>

        <img id="mySpinner" src="ripple.gif" ng-show="loading" />

        <md-list-item class="md-3-line" ng-repeat="application in applications " ng-click="null"  >

            <img data-ng-src="data:image/png;base64,{{project.img}}" class="md-avatar" />

            <div style="width:700px" class="md-list-item-text" layout="column" >
                <h3>{{ application.pTitle }}</h3>
                <h4>Sent on: {{ application.createdDate  | date:"MM/dd/yyyy 'at' h:mma"}}</h4>
                <h3>Status: <span class="{{ application.status }}">{{ application.status }}</span></h3>
                <h4 ng-if="application.status!=='PENDING'">{{ application.status }} on {{ application.processedDate | date:"MM/dd/yyyy 'at' h:mma"}}</h4>
            </div>

            <md-button flex class="md-secondary" ng-if="application.status==='PENDING'" ng-click="confirmAndDelete($event, application)">
                <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
            </md-button>
            <!--the rate button should be only available when the STATUS is accepted and only the project was rated-->
            <md-button flex class="md-secondary" ng-if="application.status==='ACCEPTED'" ng-click="goToProject(application.project)" style="margin-right:100px">

                <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>Contact via Email
            </md-button>

            <md-button flex class="md-secondary" ng-if="application.status==='ACCEPTED'" ng-click="rating($event);
            functionForInsert(application.project, application.applicant, application.host, application._id)" >
                <md-icon md-svg-icon="action:ic_stars_24px"></md-icon> Rate
            </md-button>

            <md-divider ></md-divider>
        </md-list-item>



</div>

